<h4 class="method-header">
    <span class='method-type'>{{ method.type }}</span>
    <span class='method-uri-prefix'>{{ source.prefix }}</span><span class='method-uri'>{{ resource.uri }}</span>
</h4>

{% if (method.description) %}
    {{ method.description | markdown }}
{% endif %}

{% if (method.queryParameters) %}
    <ul class="method-parameters">
        <h5>Parameters</h5>
        {% for parameter in method.queryParameters %}
            {{ include('Parameter.twig') }}
        {% endfor %}
    </ul>
{% endif %}

{% if (method.headers) %}
    <ul class="method-headers">
        <h5>Headers</h5>
        {% for parameter in method.headers %}
            {{ include('Parameter.twig') }}
        {% endfor %}
    </ul>
{% endif %}

{% for body in method.bodies %}
    {% if body.schema %}
        {{ schema('Request schema', body.schema) }}
    {% endif %}

    {% for example in body.examples %}
        {{ example('Request example', example) }}
    {% endfor %}
{% endfor %}

{% if method.responses %}

    <div class="method-responses">

        {% for response in method.responses %}

            {{ include('Response.twig') }}

        {% endfor %}

    </div>

{% endif %}
