<h3 class='resource-header'>{{ resource.displayName }}</h3>

{% if resource.description %}
    <p class='resource-description'>{{ resource.description | markdown }}</p>
{% endif %}

{% if (resource.baseUriParameters) %}
    <ul class="method-parameters">
        <h5>URI parameters</h5>
        {% for parameter in resource.baseUriParameters %}
            {{ include('Parameter.twig') }}
        {% endfor %}
    </ul>
{% endif %}

{% for method in resource.methods %}
    {{ include('Method.twig') }}
{% endfor %}

{% for resource in resource.resources %}
    {{ include('Resource.twig') }}
{% endfor %}
